.iconHover {
    color: #a8a8a8;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    margin: 1px;
}

.iconHover:hover {
 color: grey;
 border-radius:50%;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 background-color: white;

}